<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Cuda</title>
	<link rel="stylesheet" href="css/style.css">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');
	</style>
</head>
<body>
<main class="u-fullWidth">
	<section class="Welcome">
		<div class="Welcome-container">
			<header class="Header">
				<div class="Header-logo">
					<img src="images/logo.png" height="37" width="117">
				</div>
				<nav class="Header-navWrap">
					<ul class="Header-nav">
						<li class="Header-navItem isActive">
							<a class="Header-navItemLink" href="#">Home</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="#">About</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="#">Work</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="#">Blog</a>
						</li>
						<li class="Header-navItem">
							<a class="Header-navItemLink" href="#">Contact</a>
						</li>
					</ul>
				</nav>
			</header>
			<div class="Welcome-content">
				<h1 class="Title">
					<div class="u-lineHeight"><span class="Title-line">Hi there! We are the new kids on the block</span><span class="Title-line">
						and we build awesome websites and mobile apps.</span>
					</div>
				</h1>
				<div class="Welcome-buttonContainer">
					<a href="#" class="Button">Work with us!</a>
				</div>
			</div>
		</div>
	</section>
	<section class="Services">
		<div class="Services-container">
			<div class="Services-content">
				<h1 class="Title Title--services">Services we provide</h1>
				<div class="Line"></div>
				<h2 class="Title Title--small">
					<span class="Services-line">We are working with both individuals and businesses from all over the globe</span>
					<span class="Services-line"> to create awesome websites and applications.</span>
				</h2>
			</div>
			<div class="Services-catalogWrap">
				<ul class="Services-catalog">
					<li class="Services-catalogItem">
                        <div class="Services-imageWrap">
                            <img class="u-fixedImageSize" src="images/services-branding.png">
                        </div>
						<h3 class="Services-catalogItemHeader">Branding</h3>
						<p class="Services-catalogItemText">Lorem ipsum dolor sit amet,
                            consectetuer adipiscing elit, sed diam nonummy nibh.</p>
					</li>
					<li class="Services-catalogItem">
                        <div class="Services-imageWrap">
                            <img class="u-fixedImageSize" src="images/services-design.png">
                        </div>
						<h3 class="Services-catalogItemHeader">Design</h3>
						<p class="Services-catalogItemText">Sed ut perspiciatis unde omnis iste natus error sit voluptatem  </p>
					</li>
					<li class="Services-catalogItem">
                        <div class="Services-imageWrap">
                            <img class="u-fixedImageSize" src="images/services-development.png">
                        </div>
						<h3 class="Services-catalogItemHeader">Development</h3>
						<p class="Services-catalogItemText">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</p>
					</li>
					<li class="Services-catalogItem">
                        <div class="Services-imageWrap">
                            <img class="u-fixedImageSize" src="images/services-rocketScience.png">
                        </div>
						<h3 class="Services-catalogItemHeader">Rocket Science</h3>
						<p class="Services-catalogItemText">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="Team">
		<div class="Team-container">
			<div class="Team-content">
				<h1 class="Title Title--team">Meet our beautiful team</h1>
				<div class="Line"></div>
				<h2 class="Title Title--teamSmall">We are small team of designers and developers, who help brands with big ideas.</h2>
			</div>
			<div class="Team-contactsWrap">
				<ul class="Team-contacts">
					<li class="Team-contactsPerson">
						<img class="u-fixedImageSize" src="images/team-image.png">
						<div class="Team-contactsPersonInfo">
							<div class="Team-contactsPersonInfoName">
								Anne Hathaway
							</div>
							<div class="Team-contactsPersonInfoPosition">
								CEO / Marketing Guru
							</div>
							<div class="Team-contactsPersonInfoBio">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.
							</div>
						</div>
						<div class="Team-contactsPersonSocials">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--facebook" src="images/facebook-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--twitter" src="images/twitter-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--linkedIn" src="images/linkedIn-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--mail" src="images/mail-icon.png">
						</div>
					</li>
					<li class="Team-contactsPerson">
						<img class="u-fixedImageSize" src="images/team-image.png">
						<div class="Team-contactsPersonInfo">
							<div class="Team-contactsPersonInfoName">
								Kate Upton
							</div>
							<div class="Team-contactsPersonInfoPosition">
								Creative Director
							</div>
							<div class="Team-contactsPersonInfoBio">
								Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.
							</div>
						</div>
						<div class="Team-contactsPersonSocials">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--twitter" src="images/twitter-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--linkedIn" src="images/linkedIn-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--mail" src="images/mail-icon.png">
						</div>
					</li>
					<li class="Team-contactsPerson">
						<img class="u-fixedImageSize" src="images/team-image.png">
						<div class="Team-contactsPersonInfo">
							<div class="Team-contactsPersonInfoName">
								Olivia Wilde
							</div>
							<div class="Team-contactsPersonInfoPosition">
								Lead Designer
							</div>
							<div class="Team-contactsPersonInfoBio">
								Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.
							</div>
						</div>
						<div class="Team-contactsPersonSocials">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--facebook" src="images/facebook-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--twitter" src="images/twitter-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--linkedIn" src="images/linkedIn-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--mail" src="images/mail-icon.png">
						</div>
					</li>
					<li class="Team-contactsPerson">
						<img class="u-fixedImageSize" src="images/team-image.png">
						<div class="Team-contactsPersonInfo">
							<div class="Team-contactsPersonInfoName">
								Ashley Greene
							</div>
							<div class="Team-contactsPersonInfoPosition">
								SEO / Developer
							</div>
							<div class="Team-contactsPersonInfoBio">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
							</div>
						</div>
						<div class="Team-contactsPersonSocials">
							<img class="Team-contactsPersonSocials--facebook" src="images/facebook-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--twitter" src="images/twitter-icon.png">
							<img class="Team-contactsPersonSocialsIcon Team-contactsPersonSocialsIcon--mail" src="images/mail-icon.png">
						</div>
					</li>
				</ul>
			</div>
		</div>
	</section>
    <section class="Portfolio">
        <div class="Portfolio-container">
            <div class="Portfolio-info"></div>
            <div class="Portfolio-contentWrap">
                <div class="Portfolio-content"></div>
            </div>
        </div>
    </section>
</main>
</body>
</html>