//Fonts
@font-size-base: 16px;
@font-base: 'Titillium Web', sans-serif;

//Colors
@header-hover: rgba(0,0,0,0.3);
@color-base: #ffffff;
@team-name: #27283d;
@team-position: #30bae7;
@bg-welcome: #87509c;
@bg-services: #17c2a4;
@bg-team: #e7f1f8;

//Other
@text-upper: uppercase;
@margin_center: 0 auto;
